[Unit]
Description=Cruft Unicode Framebuffer Console on %I
Documentation=man:cruft(1)
After=systemd-user-sessions.service systemd-vconsole-setup.service
Before=getty.target
Conflicts=getty@%i.service
ConditionPathExists=/dev/fb0

[Service]
ExecStart=-/usr/bin/cruft /bin/login
Type=idle
Restart=always
RestartSec=1
UtmpIdentifier=%I
TTYPath=/dev/%I
TTYReset=yes
TTYVHangup=yes
StandardInput=tty
StandardOutput=tty
StandardError=journal
ExecStartPost=-/bin/sh -c 'setterm --blank 5 >/dev/%I 2>/dev/null || true'

[Install]
WantedBy=getty.target
