# Calculinux overrides on top of qemu_arm_defconfig.

# RAUC / FIT boot.scr needs these
CONFIG_CMD_SETEXPR=y
CONFIG_CMD_SETEXPR_FMT=y
CONFIG_CMD_PART=y
CONFIG_PARTITION_UUIDS=y
CONFIG_EFI_PARTITION=y

# load /data/fit/zboot_merged_*.img from OVERLAY_DATA and /boot from ROOT_x
CONFIG_FS_EXT4=y
CONFIG_CMD_EXT4=y
CONFIG_CMD_FS_GENERIC=y

CONFIG_BOOTDELAY=2
